<ion-header>
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/img/logo.png">
  </div>
</ion-header>

<ion-content>
  <h1 class="product-name">Expense Tracker</h1>
  <div class="center">
    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'login'">
        <div class="heading-column-lr">
            <h1 class="big-heading" (click)="changeMode('login')">Login</h1>
            <h2 class="small-heading margin-left-auto" (click)="changeMode('register')">SIGN UP</h2>
        </div>

        <ion-item class="transparent">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input [(ngModel)]="email" placeholder="E-Mail" type="text"></ion-input>
        </ion-item>
    
        <ion-item class="transparent">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
        </ion-item>
    
        <ion-label class="forgot-password ion-padding-top link-button" (click)="changeMode('password-reset')">Forgot Password?</ion-label>
    
        <div class="linespace"></div>
    
        <ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="login()">LOGIN</ion-button>
        <ion-label class="ion-text-center ion-padding-top">Don't have an Account? <span class="link-button" (click)="changeMode('register')">Sign Up</span></ion-label>  
      </ng-container>

      <ng-container *ngSwitchCase="'login-register'">
        <ion-label style="font-size: 20px;" class="ion-text-center">You have successfully registered!</ion-label>
        <ion-label style="font-size: 20px;" class="ion-text-center ion-padding-top">Return to <span class="link-button" (click)="changeMode('login')">login</span></ion-label>
      </ng-container>

      <ng-container *ngSwitchCase="'register'">
        <div class="heading-column-lr">
          <h2 class="small-heading margin-right-auto" (click)="changeMode('login')">Login</h2>
          <h1 class="big-heading" (click)="changeMode('register')">SIGN UP</h1>
        </div>

        <ion-item class="transparent">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input [(ngModel)]="email" (ngModelChange)="validateEmail()" placeholder="E-Mail" type="text"></ion-input>
        </ion-item>
        <ion-label *ngIf="!isValidMailAddress" color="danger">Please enter a valid E-Mail Address!</ion-label>
    
        <ion-item class="transparent">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="password" (ngModelChange)="validatePasswords()" placeholder="Password" type="password"></ion-input>
        </ion-item>
  
        <ion-item class="transparent">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="passwordRepeat" (ngModelChange)="validatePasswords()" placeholder="Repeat Password" type="password"></ion-input>
        </ion-item>
        <ion-label *ngIf="!arePasswordsMatching" color="danger">Passwords need to match!</ion-label>
      
        <div class="linespace"></div>
    
        <ion-button [disabled]="!(arePasswordsMatching && isValidMailAddress)" color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="register()">SIGN UP</ion-button>
      </ng-container>

      <ng-container *ngSwitchCase="'password-reset'">
        <h2 class="big-heading">Enter your E-Mail address</h2>

        <ion-item class="transparent">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input [(ngModel)]="email" (ngModelChange)="validateEmail()" placeholder="E-Mail" type="text"></ion-input>
        </ion-item>
        <ion-label *ngIf="!isValidMailAddress" color="danger">Please enter a valid email!</ion-label>
        
        <div class="linespace"></div>

        <ion-button [disabled]="!isValidMailAddress" color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="changePassword()">CONFIRM</ion-button>
        <ion-label class="ion-text-center ion-padding-top">Return to <span style="color: blue; text-decoration: underline;" (click)="changeMode('login')">login</span></ion-label>  
      </ng-container>

      <ng-container *ngSwitchCase="'password-reset-confirm'">
        <h2 class="big-heading">Change Your Password</h2>

        <ion-item class="transparent">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="password" (ngModelChange)="validatePasswords()" placeholder="Password" type="password"></ion-input>
        </ion-item>
  
        <ion-item class="transparent">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="passwordRepeat" (ngModelChange)="validatePasswords()" placeholder="Repeat Password" type="password"></ion-input>
        </ion-item>
        <ion-label *ngIf="!arePasswordsMatching" color="danger">Passwords need to match!</ion-label>
      
        <div class="linespace"></div>
    
        <ion-button [disabled]="!(arePasswordsMatching && isValidMailAddress)" color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="resetPassword()">CHANGE PASSWORD</ion-button>
      </ng-container>
    </ng-container>
  </div>
</ion-content>