.login-header {
    background: var(--theme-color);
    position: relative;
    border-radius: 0em;
}

.login-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.logo-img {
    display: block;
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.heading-column-lr {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.big-heading {
    font-size: 30px !important;
    color: var(--theme-black);
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.small-heading {
    padding-right: 40px;
    font-size: 15px;
}

ion-label {
    color: #000;
    opacity: .8;
    font-size: 13px;
    display: block;
}

ion-content {
    --background: #fafafa;
}

.transparent {
    --background: transparent;
}

ion-input {
    --color: #000;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 4px;
    font-size: 14px;
    text-indent: 1px;
    padding-left: 10px !important;
}

ion-item {
    --highlight-color-focused: transparent;
    --highlight-height: 0;
    --highlight-color-invalid: #000;
    --highlight-color-valid: #ddd;
    --min-height: 65px;
    --padding-start: 0;
}

.linespace {
    height: 30px;
}

.forgot-password {
    color: #000;
    font-size: 13px;
    display: block;
    text-align: right;
    padding: 10px;
}

.center {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-49%, -49%);
    transform: translate(-49%, -49%);
    width: 90%;
}

.product-name {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.link-button {
    color: blue; 
    text-decoration: underline;
}