<ion-header>
    <ion-toolbar color="theme">
      <ion-title>Create Bank Account</ion-title>
      <ion-icon [style.fontSize.px]="40" name="close-outline" slot="end" (click)="closeModal()"></ion-icon>
    </ion-toolbar>
</ion-header>
    
<ion-content class="ion-padding">
    <ion-item class="transparent">
        <ion-icon name="school-outline"></ion-icon>
        <ion-input [(ngModel)]="bankName" placeholder="Bank Name *" type="text" required="true"></ion-input>
    </ion-item>
    <ion-label *ngIf="!bankName" color="danger" class="validation-text">Please choose a valid bank name!</ion-label>

    <ion-item class="transparent">
        <ion-icon name="card-outline"></ion-icon>
        <ion-input [(ngModel)]="iban" placeholder="IBAN *" type="text" required="true"></ion-input>
    </ion-item>
    <ion-label *ngIf="!iban" color="danger" class="validation-text">Please choose a valid IBAN!</ion-label>

    <ion-item class="transparent">
        <ion-icon name="key-outline"></ion-icon>
        <ion-input [(ngModel)]="bic" placeholder="BIC *" type="text" required="true"></ion-input>
    </ion-item>
    <ion-label *ngIf="!bic" color="danger" class="validation-text">Please choose a valid BIC!</ion-label>
</ion-content>

<ion-footer>
    <ion-button [disabled]="bankName == undefined && iban == undefined && bic == undefined" (click)="saveModal()" color="success" expand="block">  
        SAVE BANK ACCOUNT  
    </ion-button>  
</ion-footer>