<ion-header>
  <ion-toolbar color="theme">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>
    
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Total Balance</ion-label>
    <ion-label slot="end" [color]="totalBalance > 0 ? 'success' : totalBalance < 0 ? 'danger' : 'dark'">{{totalBalance | number: '.2-2' }} €</ion-label>
  </ion-item>
  
  <ng-container *ngIf="!selectedBankAccount">
    <ion-card color="theme" class="ion-padding">
      <ion-label class="ion-text-wrap">
        In order to create transactions you first need to specify a bank account! <a (click)="navigateToBankAccounts()">Create a bank account</a>.
      </ion-label>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="selectedBankAccount && transactions.length < 1">
    <ion-card color="tertiary" class="ion-padding">
      <ion-label class="ion-text-wrap">
        Looks like you haven't created your very first transaction yet. Consider creating it now!
      </ion-label>
    </ion-card>
  </ng-container>

  <div class="linespace"></div>

  <ion-list>
    <ion-card *ngFor="let transaction of transactions">
      <ion-card-header>
        <ion-card-subtitle>{{transaction.categoryName ? transaction.categoryName : 'Uncategorized'}}</ion-card-subtitle>
        <ion-icon style="position: absolute; right: 20px; top: 20px;" [style.fontSize.px]="25" name="trash-outline" color="danger" (click)="showDeleteDialog(transaction.ident)"></ion-icon>  
        <ion-icon style="position: absolute; right: 60px; top: 20px;" [style.fontSize.px]="25" name="settings-outline" color="dark" (click)="editTransaction(transaction.ident)"></ion-icon>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>{{transaction.date | date: 'EE dd.MM.yyyy'}}</ion-label>
          <ion-label slot="end" [color]="transaction.type == 'income' ? 'success' : 'danger'">{{transaction.type == "income" ? '+' : '-'}} {{transaction.amount | number: '.2-2' }} €</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="theme" (click)="createTransaction()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>Bank Account</ion-label>
    <ion-select okText="SELECT" cancelText="CANCEL" slot="end" [(ngModel)]="selectedBankAccount" (ngModelChange)="refresh()" name="Bank-Accounts">
      <ion-select-option *ngFor="let bankAccountSelectItem of bankAccountSelectItems" [value]="bankAccountSelectItem.text">{{bankAccountSelectItem.text}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-footer>